gitlab_rails['databases']['ci']['enable'] = true
gitlab_rails['databases']['ci']['db_adapter'] = 'postgresql'
gitlab_rails['databases']['ci']['db_database'] = 'gitlabhq_production'
gitlab_rails['databases']['ci']['db_host'] = '{{ internal_lb_host }}'
gitlab_rails['databases']['ci']['db_load_balancing'] = { 'hosts' => {{ sharded_postgres_int_ips }} }
