frontend gitlab-http-in
    bind *:80

    acl grafana path_beg -i /-/grafana
    use_backend grafana-http if grafana

    default_backend gitlab-rails-http

frontend gitlab-https-in
    bind *:443
    mode tcp
    option tcplog
    option clitcpka

    acl grafana path_beg -i /-/grafana
    use_backend grafana-https if grafana

    default_backend gitlab-rails-https

frontend gitlab-ssh-in
    bind *:2222
    mode tcp
    option tcplog
    option clitcpka

    default_backend gitlab-rails-ssh

frontend prometheus
    bind *:9090

    default_backend prometheus

frontend influxdb_exporter
    bind *:9122

    default_backend influxdb_exporter

frontend kibana
    bind *:5601

    default_backend kibana

backend gitlab-rails-http
    option httpchk GET /-/readiness

    acl letsencrypt-verify path_beg /.well-known/acme-challenge/
    use-server gitlab-rails1 if letsencrypt-verify

{% for ip in gitlab_rails_int_ips %}
    server gitlab-rails{{loop.index}} {{ ip }}:80 check inter 3s fall 1
{% endfor %}

backend gitlab-rails-https
    mode tcp
    option tcp-check
    option httpchk GET /-/readiness
    option srvtcpka

{% for ip in gitlab_rails_int_ips %}
    server gitlab-rails{{loop.index}} {{ ip }}:443 check port 80 inter 3s fall 1
{% endfor %}

backend gitlab-rails-ssh
    mode tcp
    option tcp-check
    option httpchk GET /-/readiness
    option srvtcpka

{% for ip in gitlab_rails_int_ips %}
    server gitlab-rails{{loop.index}} {{ ip }}:22 check port 80 inter 3s fall 1
{% endfor %}

backend grafana-http
    option httpchk GET /-/grafana/api/health

    server grafana {{ monitor_int_ip }}:80 check

backend grafana-https
    mode tcp
    option tcp-check
    option httpchk GET /-/grafana/api/health
    option srvtcpka

    server grafana {{ monitor_int_ip }}:443 check port 80

backend prometheus
    option httpchk GET /-/healthy

    server prometheus {{ monitor_int_ip }}:9090 check

backend influxdb_exporter
    option httpchk GET /ping

    server influxdb_exporter {{ monitor_int_ip }}:9122 check

backend kibana
    option httpchk GET /api/status

    server kibana {{ elastic_primary_int_ip }}:5601 check
