frontend internal-pg-tcp-in
    bind *:5432
    mode tcp
    option tcplog
    option clitcpka

    default_backend pg

backend pg
    mode tcp
    option tcp-check
    option srvtcpka

{% for ip in pg_int_ips %}
    server pg{{loop.index}} {{ ip }}:5432 check
{% endfor %}